@import '../../assets/scss/variables';

header{
    grid-column: 1/3;
    background-color:$primary;
    font-size: 0.75rem;
    font-weight: 600;
    color: #ffffff;
    height: 65px;
}

.header-group{
   display: flex;
   justify-content: space-between;
   height: 100%;

.logo{
width: 75px;
}   
}

.header-right{
    display: flex;
    justify-content: space-between;

    .help{
        display: flex;
        border: 1px solid #3C8CF4;
        border-top: 0;
        border-bottom: 0;
        align-items: center;
        padding: 0.625rem 1.125rem;

        img{
            margin-right: 0.625rem;
            width: 20px;
        }
    }

    .profile{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.125rem;

    .profile-pic{
        margin-right: 0.625rem;
    }
    .profile-downarrow{
        margin-left: 0.625rem;
        cursor: pointer;
    }
    }
}