<header>
    <div class="container">
  
      <div class="header-group">
      <img class="logo" src="assets/images/logo.svg" alt="logo">
  
      <div class="header-right">
      <div class="help">
      <img src="assets/images/help-icon.svg" alt="help icon">
      <p>Help</p>
    </div>
  
    <div class="profile">
      <img  class='profile-pic' src="assets/images/profile.svg" alt="profile picture">
      <p>Sara Anderson</p>
      <img  class='profile-downarrow' src="assets/images/down-arrow.svg" alt="dropdown arrow">
    </div>
  </div>
  </div>
  
  </div>
  
  </header>
