<footer>

    <div class="container">
      <p class="info">You are accessing a United States Government computer network. Any information you enter into this system is confidential. It may be used by the Census Bureau for statistical purposes and to improve the website. If you want to know more about the use of this system, and how your privacy is protected, visit our online privacy webpage at</p>
      <p>OMB No.: 0607-1006  <span>|</span>  Approval Expires: 11/30/2021</p>
    </div>
  
  </footer>