@import '../../assets/scss/variables';


footer{
    grid-column: 1/3;
    background-color: #ffffff;
    font-size: 0.75rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing:  -0.029rem;

.info{
  color: $gray-light;
  margin-bottom: 0.875rem;

    }
    span{
        padding-left: 0.4375rem;
        padding-right: 0.4375rem;
    }
}