@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F6FA;
}


h3{
    font-size:1.375rem;
}

h4{
   font-size: 1.25rem; 
}

h5{
    font-size: 1.125rem; 
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}


.button{
  background-color: $primary; 
  border: none;
  color: #ffffff;
  padding: 0.75rem 2.1875rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -0.029rem;
  border-radius: 0.1875rem;

   img{
    padding-left: 0.9375rem;
   }
 
  
}


.wrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;  
}

.container, .content-wrapper{
    max-width: 1140px;
    margin: 0 auto;
}


main, aside{ 
    border: 1px solid rgba(24, 119, 242, 0.26);
    box-shadow: 0px 1px 34px 1px rgba(0, 0, 0, 0.03);
    padding: 3rem;
    background-color: #ffffff;
    letter-spacing: -0.019rem;
    border-radius: .25rem;
    min-height: 100%;
}
  

.content-wrapper{
    grid-template-rows: 1fr;
    display: grid;
    grid-template-columns: 2fr 300px;
    margin-top: 3.4375rem;
    margin-bottom: 3.4375rem;
    gap: 0px 15px;
 

}


.ng5-slider {

    margin: 0.625rem 0 1.5625rem !important;

    .ng5-slider-bar{
      background: #E5E5E5 !important;
     height: 10px !important;
     border-radius: 1.25rem !important;
    }

    .ng5-slider-selection{
        background: $primary !important;
    }

    .ng5-slider-pointer{
        background-color:#ffffff !important;
        border: 3px solid $primary !important;
        width: 30px !important;
        height: 30px !important;
        top: -12px !important;
        outline: 0 !important;
    }

    .ng5-slider-bubble{
        color: #000000 !important;
        font-size: 0.875rem !important;
        z-index: 100 !important; 
        top: -8px !important;
        font-weight: 700 !important;
        outline: 0;
        cursor: pointer!important;

    }

    .ng5-slider-floor, .ng5-slider-ceil{
        display: none !important;
    
    }
    .ng5-slider-active:after{
        display: none !important;
    }


}

.action-group{
    text-align: right;
    padding-top: 0.9375rem;
}




.toggle-btn{
  display: flex;
  align-items: center;
  margin-top: 1.5625rem;
  margin-bottom: 2rem;

  p{
  margin-right: 1.5625rem;
  font-weight: 700;
  }
  .switch {
      position: relative;
      display: inline-block;
      width: 52px;
      height: 22px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider
&::before {
    transform: translateX(26px);
    background-color: $primary;
    bottom:1px !important;
}



input:checked + .slider {

    border: 2px solid $primary;
}
    
    input:checked + .slider {
      background-color: rgba(24, 119, 242, 0.21);
      border: 1px solid $primary;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px $primary;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
}