<main>
  
  
    <div class="instrutions">
      <h3>2020 Census questionnaire</h3>
      <p>Before you answer Question 1, count the people living in this house, apartment, or mobile home using our guidelines</p>
    <ul>
      <li> <img src="assets/images/circle.svg" alt="circle icon"> <span>Count all people, including babies, who live and sleep here most of the time</span></li>
      <li><img src="assets/images/circle.svg" alt="circle icon"> <span>If no one lives and sleeps at this address most of the time, go
        online at   my2020census.gov or call for this number 1-844-330-2020 </span> </li>
    </ul>

    <p>The census must also include people without a permanent place to live, so:</p>
    <ul>
      <li><img src="assets/images/circle.svg" alt="circle icon"><span>If someone who does not have a permanent place to live is staying here on 
        April 1, 2020, count that person.</span></li>

    </ul>

    <p>The Census Bureau also conducts counts in institutions and other places, so:</p>
    <ul>
      <li><img src="assets/images/circle.svg" alt="circle icon"><span>Do not count anyone living away from here, either at college or in the Armed Forces</span></li>
      <li><img src="assets/images/circle.svg" alt="circle icon"> <span>Do not count anyone in a nursing home, jail, prison, detention facility,  etc., on April 1, 2020.</span> </li>
      <li><img src="assets/images/circle.svg" alt="circle icon"> <span>Leave these people off your questionnaire, even if they will return to live here after they leave college, the nursing home, the military, jail, etc. Otherwise, they may be counted twice.</span> </li>
    </ul>
    <div class="action-group">
    <button class="button">Let’s get Started <img src="assets/images/btn-nextarrow.svg" alt="button next arrow"></button>
  </div>

    </div>
  </main>
