@import '../../assets/scss/variables';


.instrutions{

    h3{
        margin-bottom: 1.875rem;
        }

    ul{
   padding-top: 1.125rem;
   padding-bottom: 1.125rem;
   padding-left: 1.125rem;

   li{
    padding:0.5rem;
    font-weight: 400;
    display: flex;
    align-items: baseline;

    img{
       padding-right: 0.625rem; 
    } 
   }
   }

    p{
     color:$gray;
     font-weight: 600;
     margin-top: 0.875rem;
     
    }
  }  