@import '../../assets/scss/variables';

aside{

    h4, h5{
    text-align: center;
    margin-bottom: 1.125rem;
    font-weight: 700;
    }
   

    .progress-circle{
      width: 180px;
      margin: 1.375rem auto;
    }

    
}

.accessibility-setting{
    

  .heading{
      font-weight: 700;
      margin-top: 1.5625rem;
  }

    .info{
      color: #413F3F;
      font-size: 0.75rem;
      font-weight: 400;
      display: flex;
      align-items: baseline;
      img{
          margin-right: .4rem;
      }
    }
}



