<aside>

    <h4>Your Progress</h4>
  
    <div class="progress-circle">
  
  <circle-progress
    [percent]="60"
    [radius]="60"
    [maxPercent]= "100"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="12"
    [space] = "-12"
    [outerStrokeColor]="'#1877F2'"
    [innerStrokeColor]="'#E5E5E5'"
    [titleColor]= "'#000000'"
    [titleFontSize]= "40"
    [unitsFontSize]= "12"
    [titleFontWeight]= "600"
    [showSubtitle] = "false"
    [animation]="true"
    [animationDuration]="300"
    [startFromZero]="false"
    [responsive]="true"
  ></circle-progress>
  
      </div>
      <div class="accessibility-setting">
  
      <h5>Accessibility Settings</h5>
      <p class="heading">Font Size</p>
      <ng5-slider [(value)]="verticalSlider.value" [options]="verticalSlider.options"></ng5-slider>
      <p class="info"> <img src="assets/images/information.svg" alt="information icon">Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
  
      <p class="heading">Contrast</p>
      <ng5-slider [(value)]="verticalSlider1.value"[options]="verticalSlider1.options"></ng5-slider>
      <p class="info"><img src="assets/images/information.svg" alt="information icon">Lorem ipsum dolor sitamet.</p>
  
    
  
       <div class="toggle-btn">
      <p>Dark Mode</p>
  
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  
    <div class="toggle-btn">
      <p>Narrator</p>
      <label class="switch">
        <input type="checkbox" checked>
        <span class="slider round"></span>
      </label>
    </div>
    </div>
      
    </aside>
